.inValid input{
    border: 1px solid red;
}

#addGameFormID {
    display: inherit;
    flex-direction: inherit;
}

#formAddGame {
    display: flex;
    flex-direction: column;
    width: 310px;
}

label {
    display: flex;
}