<!DOCTYPE html>
<html>
    <head>
        <title><%= htmlWebpackPlugin.options.title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="mainWrapper">
            <div id="gameList">
                <div id="addGameFormContainer"></div>
                <div id="loadedGames"></div>
            </div>
            <div id="gameWrapper">
                <div id="gameBoardWrapper"></div>
                <div id="inGameStatsWrapper"></div>
            </div>
        </div>
    </body>
</html>