#gameListTbl {
    display: flex;
    flex-wrap: wrap;
}

.tablerow {
    display: flex;
}

.tablerow div {
    display: flex;
    width: 100%;
    padding: 5px 15px;
    overflow: hidden;
    border: 1px solid black;
    box-sizing: border-box;
    flex-grow: 1;
}

.gamelistGameLocked {
    background-color: indianred;
}

.gamelistGameUnLocked {
    background-color: seagreen;
}

.gamelistGameUnLocked.ingame_phase {
    background: sandybrown;
}
.gamelistGameUnLocked.win_phase {
    background: cornflowerblue;
}

.row_header_loadedGame_tabs.tablerow.tablerowheader {
    /*force to top as header of table*/
    order: -1;
}