body {
    background-color: #676767;
    margin: 0;
}

#main {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
}
#boardsWrapper {
    width: 100%;
    position: relative;
    top: 110px;
}
#boards {
    position: relative;
    width: 100%;
}
#boardsBufferContainer {
    position: absolute;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
}
.UI {
    display: inline-flex;
    width: 100%;
    height: 100px;
    border: 5px solid #a0a0a0;
    background-color: #8a8484;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: fixed;
    z-index: 1;
}

#setupUI, #customGameSetupUI {
    display: flex;
    width: 250px;
    height: 240px;
    border: 5px solid #a0a0a0;
    background-color: #8a8484;
    margin-right: 5px;
    align-items: center;
    justify-content: top;
    flex-direction: column;
}

.playerBtnSetup {
    display: block;
    width: 85%;
    height: 25px;
    background-color: #4e4a4a;
    margin-top: 10px;
    color: #fff;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

#resetButton, #newGameButton {
    display: inline;
    /* width: 50px; */
    height: 25px;
    background-color: #4e4a4a;
    margin-top: 10px;
    color: #fff;
    text-align: center;
    user-select: none;
    cursor: pointer;
    margin: 10px;
    padding: 5px 10px;
}

#resetButton:hover, #newGameButton:hover, .playerBtnSetup:hover {
    background: #a0a0a0;
}
.playerBoardWrapper {
    border: 2px solid black;
    margin: 5px;
    height: auto;
    display: inline-flex;
    flex-direction: column;
}
/*Leave quadrant in odd amount of player game blank, remove this for a console split screen style view*/
.playerBoardWrapper:nth-last-child(1):nth-child(2n+3) {
    flex: 0 auto;
}

.wrapper {
    padding: 5px;
    flex: 1 0 auto;
    margin: 5px;
    height: auto;
    background-color: #a0a0a0;
    display: inline-flex;
}

.wrapper:before {
    content: "";
}

.wrapper.pregame,
.wrapper.win,
.wrapper.dead {
    position: relative;
}
.wrapper.pregame:after,
.wrapper.dead:after,
.wrapper.win:after {
    display: block;
    content: "";
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.field {
    background-color: #a0a0a0;
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}

.cellBufferContainer{
    position: absolute;
    pointer-events: none;
}
.row {
    display: flex;
    pointer-events: none;
}

.col {
    display: flex;
    pointer-events: none;
}

.cell {
    display: flex;
    flex-grow: 1;
    border: 1px solid #000;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
}
.item {
    display: flex;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.item.emptySpace {
    background-color: #000;
}

.item.hint {
    color: #fff;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    user-select: none;
    background-color: #8a8484;
    height: 100%;
}

.item.mine {
    width: 71%;
    height: 71%;
    background: linear-gradient(to top, #ffce7f 0%, #6f3c12 100%);
    border-radius: 25px;
    border: solid 2px #fcb34c;
    position: relative;
    box-shadow: 9px 8px 18px -4px rgba(0, 0, 0, 0.6);
}

.mine:before {
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    background: linear-gradient(to top, #ffce7f 0%, #6f3c12 100%);
    border-radius: 25px;
    margin: 10%;
}

.mine:after {
    content: "";
    position: absolute;
    width: 56%;
    height: 56%;
    background: linear-gradient(to top, #191919 0%, #464646 100%);
    border-radius: 25px;
    margin: 22%;
    /*pointer-events: none;*/
}

.flag {
    width: 71%;
    height: 71%;
    background: linear-gradient(to top, #ffce7f 0%, #6f3c12 100%);
    border-radius: 25px;
    border: solid 2px #fcb34c;
    position: relative;
    box-shadow: 9px 8px 18px -4px rgba(0, 0, 0, 0.6);
    /*pointer-events: none;*/
}

.flag:before {
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    background: linear-gradient(to top, #ffce7f 0%, #6f3c12 100%);
    border-radius: 25px;
    margin: 10%;
    /*pointer-events: none;*/
}

.flag:after {
    content: "";
    position: absolute;
    width: 56%;
    height: 56%;
    background: linear-gradient(to top, #dcdcdc 0%, white 100%);
    border-radius: 25px;
    margin: 22%;
    /*pointer-events: none;*/
}

/*http://sashat.me/2017/01/11/list-of-20-simple-distinct-colors/*/
#playerInfoContainer_0 ,.flag.player0:after {background: rgb(100, 255, 255);}                    /*Cyan*/
#playerInfoContainer_1 ,.flag.player1:after {background: rgb(255, 0, 255); color: white;}        /*Magenta*/
#playerInfoContainer_2 ,.flag.player2:after {background: rgb(67, 133, 255); color: white;}       /*Blue*/
#playerInfoContainer_3 ,.flag.player3:after {background: rgb(255, 0, 0); color: white;}          /*Red*/
#playerInfoContainer_4 ,.flag.player4:after {background: rgb(255, 200, 220);}                    /*Pink*/
#playerInfoContainer_5 ,.flag.player5:after {background: rgb(170, 110, 40); color: white;}       /*Brown*/
#playerInfoContainer_6 ,.flag.player6:after {background: rgb(255, 150, 0);}                      /*Orange*/
#playerInfoContainer_7 ,.flag.player7:after {background: rgb(255, 215, 180);}                    /*Coral*/
#playerInfoContainer_8 ,.flag.player8:after {background: rgb(128, 128, 0); color: white;}        /*Olive*/
#playerInfoContainer_9 ,.flag.player9:after {background: rgb(255, 235, 0);}                      /*Yellow*/
#playerInfoContainer_10,.flag.player10:after {background: rgb(255, 250, 200);}                   /*Beige*/
#playerInfoContainer_11,.flag.player11:after {background: rgb(190, 255, 0);}                     /*Lime*/
#playerInfoContainer_12,.flag.player12:after {background: rgb(0, 190, 0); color: white;}         /*Green*/
#playerInfoContainer_13,.flag.player13:after {background: rgb(170, 255, 195);}                   /*Mint*/
#playerInfoContainer_14,.flag.player14:after {background: rgb(0, 128, 128); color: white;}       /*Teal*/
#playerInfoContainer_15,.flag.player15:after {background: rgb(255, 255, 255);}                   /*White*/
#playerInfoContainer_16,.flag.player16:after {background: rgb(0, 0, 128); color: white;}         /*Navy*/
#playerInfoContainer_17,.flag.player17:after {background: rgb(128, 0, 0); color: white;}         /*Maroon*/
#playerInfoContainer_18,.flag.player18:after {background: rgb(130, 0, 150); color: white;}       /*Purple*/
#playerInfoContainer_19,.flag.player19:after {background: rgb(230, 190, 255);}                   /*Lavender*/
#playerInfoContainer_20,.flag.player20:after {background: rgb(0, 0, 0); color: white;}           /*Black*/
#playerInfoContainer_21,.flag.player21:after {background: rgb(128, 128, 128);}                   /*Grey*/


.wrapper.dead {background-color: red;}
.wrapper.dead:after {background: red;}
.wrapper.pregame {background-color: cornflowerblue;}
.wrapper.pregame:after {background: cornflowerblue;}
.wrapper.position_0 {background-color: gold;}
.wrapper.position_1 {background-color: silver;}
.wrapper.position_2 {background-color: #CD7F32;}
.wrapper.position_0:after {background-color: gold;}
.wrapper.position_1:after {background-color: silver;}
.wrapper.position_2:after {background-color: #CD7F32;}


/*Number hint colours*/
.cell .hint.number1{color: #ffffff; }
.cell .hint.number2{color: #ff0000; }
.cell .hint.number3{color: #00ff00; }
.cell .hint.number4{color: #0057FF;}
.cell .hint.number5{color: #ffff00; }
.cell .hint.number6{color: #ff00ff; }
.cell .hint.number7{color: #00ffff; }
.cell .hint.number8{color: #5315B2;}

/*T*/
.flag.correct:after {
    background: linear-gradient(to top, green 0%, #0DFF8F 100%);
}

.flag.wrong:after {
    background: linear-gradient(to top, red 0%, #E82C0C 100%);
}


